// bower:scss
// endbower

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  color: white;
  background: black;
}

#canvas {
  width: 100%;
  height: 100%;
  transition: filter .4s;
}

#error-mobile {
  font-weight: 100;
  text-align: center;
  line-height: 3em;
  font-size: 14px;
  position: absolute;
  background: black;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50%;
  padding: 0 10%;
  z-index: 1;
  margin-top: -50px;
  
  letter-spacing: .4em;

  &.hide {
    visibility: hidden;
  }
}

#outro {
  font-weight: 100;
  text-align: center;
  line-height: 3em;
  position: absolute;
  width: 100%;
  top: 10%;
  
  letter-spacing: .4em;

  transition-property: visibility;
  transition-delay: 0s;

  .text {
    font-size: 20px;
    font-family: recursive;
    span {
      transition-property: opacity;
      transition-duration: 1.5s;
      transition-timing-function: ease-in-out;
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          transition-delay: $i * .2s;
        }
      }
    }
  }
  .tip {
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 5s;
    transition-timing-function: ease-in-out;
    margin-top: 100px;
    span {
      display: inline-block;
      border-radius: 10px;
      padding: 0px 40px;
      border: 1px solid white;
    }
  }
  &.hide {
    visibility: hidden;
    transition-delay: 4s;
    .text {
      span {
        opacity: 0;
        transition-delay: 0;
      }
    }
    .tip {
      transition-delay: .2s;
      opacity: 0;
    }
  }
}

#intro {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition-property: opacity, visibility;
  transition-delay: .4s;
  transition-duration: 5s;
  &:before {
    content: "";
    transition: opacity 1s;
    display: block;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  p, .music {
    transition: opacity .1s;
  }

  .error-chrome {
    transition: opacity .4s;
    font-size: 20px;
    letter-spacing: .5em;
    line-height: 3em;
    font-size: 12px;
    position: absolute;
    text-align: center;
    background: black;
    left: 0;
    top: 50%;
    margin-top: 60px;
    width: 100%;
    &.hide {
      visibility: hidden;
    }
  }

  p {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 180px;
    transform: translate(-50%, -50%);
    font-weight: 100;
    letter-spacing: .5em;
    text-align: center;
    span {
      display: inline-block;
      border-radius: 10px;
      padding: 10px 40px;
      border: 1px solid white;
    }
  }
  .music {
    position: absolute;
    letter-spacing: .5em;
    font-weight: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
  }
  svg {
    display: block;
    fill: white;
    position: relative;
    width: 50px;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    margin-top: -100px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1em;
  }
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    text-align: center;
    margin-left: -50px;
    margin-top: -10px;
    font-weight: 100;
    letter-spacing: .5em;
    animation: rotating 1s infinite ease-in-out alternate;
    ransition-property: opacity, visibility;
    transition-duration: .4s;
    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }
  .button {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    border: 1px solid white;
    text-align: center;
    transform: translate(-50%, -50%);
    padding-top: 16px;
    transition-property: background, color, transform, opacity, visibility;
    transition-duration: .4s;
    
    &.hide {
      opacity: 0;
      visibility: hidden;
    }
    
    &:hover {
      background: white;
      color: black;
    }
  }
  .lq {
    margin-left: -50px;
  }
  .hq {
    margin-left: 50px;
  }
  &.hide {
    opacity: 0;
    visibility: hidden;
    &:before {
      opacity: 0;
    }
    .error-chrome {
      opacity: 0;
    }
    p, .music {
      opacity: 0;
    }
    .button {
      transform: translate(-50%, 1000px);
    }
    .lq {
      transition-duration: .8s;
    }
    .hq {
      transition-duration: 1.4s;
    }
  }
}

@keyframes rotating {
    from{
        transform: rotate(-20deg);
    }
    to{
        transform: rotate(20deg);
    }
}